<div id="account_links">
  <% if @content_for_account_links %>
    <%= yield :account_links %>
  <% else %>
    <%= link_to "Create an Account", "/security/signup" %>
    | <%= link_to "Change Password", "http://help.thekey.me/2013/10/30/i-want-to-change-my-email-or-password/" %>
    | <%= link_to "Reset Password", "https://thekey.me/cas/service/selfservice?target=displayForgotPassword&service=https://pat.powertochange.org/security/login#" %>
  <% end %>
</div>

